/*Здесь будут стили который писали мы сами*/

/*-------------------------------------------------------------------*/

.rules_of_engagement
{
    word-wrap: break-word;
    border: 1px solid #7986cb;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    margin: 1.5em;
    padding: 1.5em;
}

#head
{
    padding-top: 7vh;
    background-color: #7986cb;
    height: 20vh;
    border-bottom: 1px solid black;
}

/*Подключили шрифт для лого*/
@font-face
{
    font-family: BitScript;
    src:url(/fonts/MyFonts/BitScript.ttf);
}

#bets
{
    color: white;
}

#jobs
{
    color: white;
}

#info
{
    color: white;
}

#login
{
    color: white;
}

#logo
{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: BitScript;
    font-size: 48px;
}

#navbar > div > a:not(#logo)
{
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: cursive;
}

#navbar > div > a:hover
{
    text-decoration: none;
    background-color: rgba(96, 107, 165, 0.5);
    cursor: pointer;
}

#navbar > div > a:active
{
    background: rgba(255, 255, 255, 0.1);
}

#left_sidebar > #line > p
{
    text-align: center;
    background: #7986cb;
    padding: 1px;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1em;
    padding-top: 5px;
    font-family: cursive;
    text-decoration: underline;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

#left_sidebar
{
    float: left;
    width: 20vw;
    border-right: 1px solid black;
    background-color: #7986cb;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#left_sidebar > ul > li
{
    border-bottom: 1px solid black;
    text-align: center;
    line-height: normal;
    font-size: 20px;
    color: #ffffff;
    line-height: 2em;
    margin-top: 0;
}

li:hover:not(.mobile)
{
    background-color: rgba(96, 107, 165, 0.5);
    cursor: pointer;
}

li:active:not(.mobile)
{
    background: rgba(255, 255, 255, 0.1);
}

#right_sidebar
{
    border-left: 1px solid black;
    background-color: #7986cb;
    float: right;
    width: 20vw;
}

div #coupon > div > p
{
    text-align: center;
    background: #7986cb;
    padding: 1px;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1em;
    padding-top: 5px;
    font-family: cursive;
    text-decoration: underline;
}

#buttonClearCoupon
{
    float: right;
    padding-right: -10px;
    color: white;
}

#coupon
{
    border-bottom: 1px solid black;
}

div #mobile > div > p
{
    text-align: center;
    background: #7986cb;
    padding: 1px;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1em;
    padding-top: 5px;
    font-family: cursive;
    text-decoration: underline;
}

#button_ios, #button_android
{
    background-color: #ffffff;
    color: #7986cb;
    min-width: 120px;
    text-transform: none;
    margin-left: 70px;
}

#mobile
{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

#help > p:first-child
{
    text-align: center;
    background: #7986cb;
    padding: 1px;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1em;
    padding-top: 5px;
    font-family: cursive;
    text-decoration: underline;
    padding-bottom: 15px;
}

#help > p
{
    text-align: center;
    background: #7986cb;
    padding: 1px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1em;
}

#help > p#help_tel, #help > p#help_email
{
    font-size: 28px;
}

#help
{
    border-bottom: 1px solid black;
}

footer
{
    width: 100%;
    color: white;
    background-color: #7986cb;
    padding-top: 30px;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 30px;
}

/*Прижимаем footer */
body
{
    height: 100%;
}

/* Прижимаем footer */
#app
{
    display: table;
    height: 100%;
    width: 100%;
}

/* Прижимаем footer */
footer
{
    display: table-row;
    height: 100%;
}

#paySystemsContainer > p, #socialNetworksContainer > p, #partnersContainer > p
{
    text-align: center;
    padding: 1px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1em;
    font-family: cursive;
    text-decoration: underline;
}

#paySystemsContainer, #partnersContainer, #socialNetworksContainer
{
    margin-left: 20vw;
    margin-right: 20vw;
}

#paySystemsContainer
{
    border-top: 1px solid black;
    padding-top: 20px;
}

ul.img_in_footer
{
    display: flex;
}
ul.img_in_footer > li
{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding-right: 10%;
    margin-left: 15%;
}

ul.img_in_footer > li:hover
{
    background-color: rgba(0, 0, 0, 0);
}
/* Делаем липкую шапку */
#head
{
    position: fixed;
    width: 100%;
    z-index: 99;
}

/* Делаем липкую шапку */
main
{
    padding-top: 20vh;
}

/* Делаем липкий правый sidebar */
#right_sidebar
{
    position: fixed;
    width: 20%;
    margin-left: 80%;
}

/*TODO: Сделать вычисляемым?(не будет хватать длины при большой высоте блока main_section) */
/*#left_sidebar
{
    height: 1000px;
}*/

.registration_box
{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 20vw;
    padding-left: 20vw;
}

footer
{
    color: #7986cb;
    background-color: #ffffff;
}


hr
{
    border-top: 10px dotted #7986cb;
}

#line > p
{
    margin-bottom: 0;
}

div#coupon > hr
{
    border-top: 1px solid #ffffff;
}

.log_in
{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 20vw;
    padding-left: 20vw;
}

button.md-button.md-raised.md-theme-default
{
    min-width: 200px;
}

div > .log_in > form
{
    border: 1px solid #7986cb;
}

#login
{
    background-color: #ff5722;
}

div #mobile > div > p
{
    font-size: 20px;
}

#socialNetworksContainer > div
{
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: -400px;
}

.footer_icons
{
    font-size: 32px;
    color: #7986cb;
}