/*Здесь будут стили который писали мы сами*/

/*-------------------------------------------------------------------*/

.rules_of_engagement
{
    word-wrap: break-word;
    border: 1px solid #7986cb;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
    margin: 1.5em;
    padding: 1.5em;
}

.registration_box
{
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 5vw;
    padding-left: 1vw;
}

.log-in
{
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 5vw;
    padding-left: 5vw;
}

#head
{
    padding-top: 7vh;
    background-color: #7986cb;
    height: 20vh;
    border-bottom: 1px solid black;
}

/*Подключили шрифт для лого*/
@font-face
{
    font-family: BitScript;
    src:url(./fonts/MyFonts/BitScript.ttf);
}

#logo
{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: BitScript;
    font-size: 48px;
}

#navbar > a:not(#logo)
{
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: cursive;
}

#navbar > a:hover
{
    text-decoration: none;
    background-color: rgba(96, 107, 165, 0.5);
    cursor: pointer;
}

#navbar > a:active
{
    background: rgba(255, 255, 255, 0.1);
}

#left_sidebar > #line > p
{
    text-align: center;
    background: #7986cb;
    padding: 1px;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1em;
    padding-top: 5px;
    font-family: cursive;
    text-decoration: underline;
}

#left_sidebar
{
    float: left;
    width: 20vw;
    border-right: 1px solid black;
    background-color: #7986cb;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#left_sidebar > ul > li
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: normal;
    font-size: 20px;
    color: #ffffff;
    line-height: 2em;
    margin-top: 0;
}

li:hover
{
    background-color: rgba(96, 107, 165, 0.5);
    cursor: pointer;
}

li:active
{
    background: rgba(255, 255, 255, 0.1);
}

